/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
    #push,
    #footer {
    height: 60px;
}
#footer {
    background-color: #292f36;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead, p, b {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.breakworld {
    table-layout:fixed; word-break: break-all; overflow:hidden;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #4ecdc4;
}

.right-nav {
    margin: 136px 0 0;
    padding: 10px 20px;
    list-style: none;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    background: rgba(4, 18, 27, 0.88);
    border-radius: 3px;
    text-decoration: none;
    top: 0px;
    position: fixed;
    font-size: 24px;
}
#fixed-li {
    color: rgb(247, 246, 237);
    line-height:26px;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
