/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    width:100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
    #push,
    #footer {
    height: 60px;
    }
    #footer {
    background-color: #292f36;
    color: rgba(255,255,255,0.6);
    text-shadow: none;
    font-size:15px;
    }

    /* Lastly, apply responsive CSS fixes as necessary */
    @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

#header {
    background-color: #292f36;
    color: rgba(255,255,255,0.6);
    text-shadow: none;
    font-size:20px;
    height:50px;
    line-height:50px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#header {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
    padding-top: 0px;
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

.brand__forename {
font-weight: bold;
color: #4ecdc4;
}

#myScrollspy > ul.nav-tabs{
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
#myScrollspy > ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
#myScrollspy > ul.nav-tabs li:first-child{
    border-top: none;
}
#myScrollspy > ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
#myScrollspy > ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}
#myScrollspy > ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
#myScrollspy > ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
#myScrollspy > ul.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

#tagbar {
    margin-top:20%;
    height:40%;
}

#tagselect {
    margin-top:20%;
    color:#292f36;
    font-size:15px;
    font-weight:bold;
}

#tagsList {
    position:relative;
    width:80%;
    height:40%;
    top:20% ;
    float:right;
}
#tagsList a {
    position:absolute;
    top:0px;
    left:0px;
    font-family: Microsoft YaHei;
    font-weight:bold;
    text-decoration:none;
    color: #4ecdc4;
}
#tagsList a:hover {
    color:#292f36;
    letter-spacing:2px;
}

.hot{
    background-color: #292f36;
    color: rgba(255,255,255,0.6);
    text-shadow: none;
    list-style:none;
    margin-top:2px;
    margin-bottom:2px;
    border-radius: 6px;
}

#articles {
    background-color:rgba(252, 255, 254, 0);
    border: 0px solid #ccc;
}

#tags {
    top: 100px;
    font-size: 15px;
    font-family: "Arial","微软雅黑", "Helvetica", "sans-serif";
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    background: rgba(4, 18, 27, 0.88);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(247, 246, 237);
}

#tags li {
    line-height:30px;
}

#tags a {
    font-weight:bold;
    text-decoration:none;
    color: #fff;
    margin: 55px 15px 55px 15px;
}

#tags span {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

