.navbar-black {
    background-image: linear-gradient(to bottom, #222222, #111111);
    border-color: #252525;
    border-radius: 0px 0px 0px 0px;
}
.navbar-black-title {
    font-size: 20px;
    font-weight: 800;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.news {
    float: left;
    width: 75%;
    word-wrap:break-word;
}

.sidebar {
    float: right;
    width: 25%;
    word-break:break-all;
}
