<!-- __base.html__ -->
<html>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% block meta %}<!-- block meta  -->{% endblock %}
		<title>{% block title %}爱幻想{% endblock %}</title>
		<link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/mystyle.css" rel="stylesheet">
		{% block beforehead %}<!-- before head  -->{% endblock %}
    </head>
	
    <body style="background-image:url(static/img/noisy2.png)">
    <!-- Part 1: Wrap all page content here -->
	<div id="wrap" style="padding-bottom:60px;">
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="myModalLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <p>Address: Beijing<br/>
                   Phone: 136-xxxx-xxxx<br/>
                   Mail: 176912231@qq.com<br/>
                   Blog: http://www.cnblogs.com/coder2012/</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">back</button>
            </div>
        </div>
        <header data-headroom data-tolerance="5" data-offset="205" data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}'>
        <div id="header">
            <div class="container">
                <div style="width:80%;float:left;">&nbsp;&nbsp;&nbsp;<a class="muted brand__forename" href="/">ifancy</a>&nbsp;&nbsp;爱幻想</div>
                <div style="width:10%;float:left;font-size:17px;"><a class="muted" href="http://www.cnblogs.com/coder2012/">blog</a></div>
                <div style="width:10%;float:left;font-size:17px;"><a class="muted" href="#" data-toggle="modal" data-target="#myModal">contact</a></div>
            </div>
        </div>
        </header>
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
        <div class="container">
            <div>
                <div style="float:left;"><p class="muted credit">&nbsp;&nbsp;&nbsp;幻想，因为还年轻</p></div>
                <div style="float:right;"><img src="static/img/tubiao.png" height="50" width="50"/></div>
                <div style="float:right;"><p class="muted credit">ifancy.cc by cococo点点&nbsp;&nbsp;</p></div>
            </div>
        </div>
    </div>
    <!--end body -->
		<!-- jQuery (Bootstrap  JavaScript jQuery) -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
        {% block script %}{% endblock %}
        <script type="text/javascript">

        </script>
    </body>
</html>