<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

  <!-- START THE CONTENT -->
  <div class="content" >
        <div id="example">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
       </div>
  </div> <!-- END CONTENT -->

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="static/js/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.vticker.min.js"></script>
      <script type="text/javascript">
        $$(function(){
            $$('#example').vTicker();
         });
      </script>
   </body>
</html>