{% extends '__base__.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        <!--Sidebar content-->
            <div class="row" style="position:fixed;">
                <div style="text-align:center;">
                    <img src="static/image/touxiang.jpg" class="img-circle" width="50%"/>
                    <h3>cococo点点</h3>
                </div>
                <div style="text-align:center;margin-top:50%;">
                    <ul>
                        <li class="hot">2014/10/30</li>
                        <li class="hot">2014/10/29</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span8">
        <!--Sidebar content-->
            <div class="row">
                {% for item in articles %}
                    <div>
                        <pre id="articles"><h3>{{item[1]}}</h3><hr/>{{item[2]}}</pre>
                    </div>
                {% endfor %}
                <div class="btn-group" data-toggle="buttons-radio" style="float:right;padding:30px 0 30px 0;top:90%;">
                  <button type="button" class="btn btn-primary" onclick="getPage(0)">上一页</button>
                  <button type="button" class="btn btn-primary" onclick="getPage(1)">下一页</button>
                </div>
            </div>
        </div>
        <div class="span2">
        <!--Sidebar content-->
            <div style="width:80%;">
                <div id="tagbar">
                    <div style="word-break:break-all;top:100px;">
                        <ul id="tags" style="position:fixed;">
                            {% for item in tags %}
                                <li><a href="">{{ item[0]}}</a><span class="badge badge-success">{{ item[1] }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script>
    function getPage(i) {
        thisHREF = document.location.href;
        var s = thisHREF.indexOf("?");
        if (s < 0){
            alert("index");
            if ( i == 0 ){
                return 0;
            }else{
                window.location.href = "/?num=2";
                return 0;
            }

        }
        tmpHPage = thisHREF.split("?");
        num = tmpHPage[1];
        tmp = num.replace(/num=/,"").replace(/#/,"");
        if ( i == 0){
            n = new Number(tmp);
            n = n -1;
            window.location.href = "/?num=" + n;
        }else{
            n = new Number(tmp);
            n = n +1;
            window.location.href = "/?num=" + n;
        }
    }
    </script>
{% endblock %}