{% extends '__base__.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div id="example">
       <ul>
           {% for item in list %}
            <li><a href="{{ item[1] }}">
            <h2>{{ item[0] }}</h2>
            <p>{{ item[2] }}</p></a></li>
        {% endfor %}
       </ul>
    </div>
{% endblock%}

{% block script %}
    <script type="text/javascript">
        $(function(){
            $('#example').vTicker({
                speed: 1000,     //滚动速度，单位毫秒。
                pause: 1000,        //暂停时间，就是滚动一条之后停留的时间，单位毫秒。
                showItems: 4,      //显示内容的条数。
                animation: 'fade',  //动画效果，默认是fade，淡出。
                mousePause: true,   //鼠标移动到内容上是否暂停滚动，默认为true。
                height: 400 ,        //滚动内容的高度。
                direction: 'up'     //滚动的方向，默认为up向上，down则为向下滚动。
            });
         });
    </script>
{% endblock %}