{% extends '__base__.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        <!--Sidebar content-->
            <div class="row" style="position:fixed;">
                <div style="text-align:center;">
                    <img src="static/image/touxiang.jpg" class="img-circle" width="50%"/>
                    <h3>cococo点点</h3>
                </div>
                <div id="titles">
                    <div id="scroller" style="text-align:center;margin-top:30%;">
                        <ul>
                            {% for title in titles %}
                                <li class="hot">{{ title[0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="span8">
        <!--Sidebar content-->
            <div class="row">
                <div style="padding-top: 25%;padding-left: 25%;">
                    <p style="color: #ffffff;font-size: 60px;">nothing more</p>
                </div>
                <div class="btn-group" data-toggle="buttons-radio" style="position:fixed;float:right;padding-left: 69%;top:75%;">
                  <button type="button" class="btn" onclick="javascript:history.back(-1);">返回</button>
                </div>
            </div>
        </div>
        <div class="span2">
        <!--Sidebar content-->
            <div style="width:80%;">
                <div id="tagbar">
                    <div style="word-break:break-all;top:100px;">
                        <ul id="tags" style="position:fixed;">
                            {% for item in tags %}
                                <li><a href="">{{ item[0]}}</a><span class="badge badge-success">{{ item[1] }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script src="static/js/jquery.vticker.min.js"></script>
    <script>

    $(function() {
            $('#scroller').vTicker({
                    speed: 500,        //滚动速度，单位毫秒。
                    pause: 2000,       //暂停时间，就是滚动一条之后停留的时间，单位毫秒。
                    showItems: 5,     //显示内容的条数。
                    animation: 'fade', //动画效果，默认是fade，淡出。
                    mousePause: true,  //鼠标移动到内容上是否暂停滚动，默认为true。
                    //height: 115,       //滚动内容的高度。
                    direction: 'up'        //滚动的方向，默认为up向上，down则为向下滚动。
                });
            });
    </script>
{% endblock %}